 .inputbox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    bottom: 0em;
    position: fixed;
    margin-top: 1em;
    margin-bottom: 0px;
 }

 .chatsite .download-btn {
  padding: 0.25em;
 }
 
 .cwrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-bottom: 4em;
    overflow-y: auto;
    box-sizing: border-box;
 }
 .cwrapper::-webkit-scrollbar {
    display: none;
  }
  
  .cwrapper::-webkit-scrollbar-track {
    background: #0b0c10;
  }
  
  .cwrapper::-webkit-scrollbar-thumb {
    background-color: #00ffff;
    border-radius: 4px;
  }

 .chatsite .login-input  {
width: 100%;
box-sizing: border-box;
margin-bottom: 0px;
 }

.messageBox h4 {
    margin: 0;
    padding: 0;
    color: #00ffff; 
}
.messageBox p, h6 {
    margin: 1px;
    padding: 0;
      color: #f5f5f5; 
    }
 .messageBox {
  margin-top: 1em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border:2px solid #00ffff;
    border-radius: 6px;
    padding: 0.75em;
 }
 
 .menu {
    justify-content: right;
    align-items: center;
    flex-direction: column;
    display: flex;
    position:absolute;
    bottom: 0px;
    right: 2px;
    max-width: max-content;
    height: max-content;
  }
  .menu a {
    min-width: 10px;
    width: auto;
    margin: 10px;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  body {
      margin: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
      background: #0b0c10;
      color: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    body.chatsite {
      overflow: hidden;
      margin: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
      background: #0b0c10;
      color: #f5f5f5;
      display: flex;
      justify-content: flex-end;
      flex: 1;
      flex-direction: column;
      width: 100%;
      height: 100vh;
    }
    
    .wrapper {
      text-align: center;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 0 25px rgba(0,0,0,0.7);
    }
    .login-input {
      background: #0b0c10;
      color: #00ffff;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid grey;
      border-radius: 5px;
      outline: none;
      white-space: prewrap;
      font-family: inherit;
      transition: all 0.3s ease;
    }
    .login-input:focus {
      border-color: #00ffff;
      box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
    }

    .login-input::placeholder {
      color: #00ffff;
      opacity: 0.7;
    }

    
    .bigpfp {
      border: 4px solid #00ffff;
    }
    .download-btn {
      display: inline-block;
      margin: 8px 0;
      padding: 10px 16px;
      background-color: #39FF14;
      color: #000;
      text-decoration: none;
      border-radius: 6px;
      border: 1px solid #24a80d;
      left: auto;
      font-weight: 600;
    }

    .download-btn.secondary {
      background-color: #ff4444;
      border-color: #aa0000;
      color: #fff;
    }

    .download-btn:hover {
      filter: brightness(0.8);
      transform: scale(1.05);
    }

    .links-block {
      display: flex;
      flex-direction:column;
      text-align: center;
      align-items: center;
      color: #00ffff;
      margin-top: 20px;
      margin-bottom: 50px
    }

    .links-block p {
      margin-bottom: 5px;
    }
    .logo {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 60px;
      height: 60px;
      border: 2px solid cyan;
      border-radius: 40px;
    }
    .boxoverlay {
      top:0;
      left:0;
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      height: 100%;
      width: 100%;
      z-index:1000;
      position:fixed;
      display:none;
    }
    .boxoverlay .box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .box {
      background: #0b0c10;
      width:300px;
      padding:20px;
      text-align:center;
      border:2px solid #00ffff;
      border-radius:12px;
      animation: fadeInScale 0.3s ease-out forwards;
      min-width: 0px;
    }

    .box1 {
      background: #0b0c10;
      width:300px;
      padding:20px;
      text-align:center;
      border:2px solid #00ffff;
      border-radius:12px;
      animation: fadeInScale1 0.3s ease-out forwards;
      min-width: 0px;
    }
    .closebtn {
      color: #ff4444;
      float: right;
      font-size:28px;
      font-weight:bold;
      cursor:pointer;
    }
    @keyframes fadeInScale1 {
      from {
        opacity: 0;
        transform: scale(0.8);
      }
          to {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes fadeInScale {
      from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
      }
          to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }

      .backbuttonc {
    z-index: 1001;
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  margin-top: 25px;
  z-index: 1001;
}

.back-button {
  display: inline-block;
  font-weight: 500;
  padding: 10px 20px; 
  text-decoration: none;
  border: 1px solid maroon;
  border-radius: 6px;
  background: red;
  color: #fff;
  transition: 0.2s;
}

.back-button:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
}


.content {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}


.information-box {
  background: rgba(31, 40, 51, 0.5); 
  border: 1px solid #45a29e;        
  border-left: 5px solid #00ffff; 
  padding: 25px;
  border-radius: 8px;
  line-height: 1.8;                 
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.glow-cyan {
  color: #00ffff;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  font-weight: bold;
}

.code-highlight {
  background: #000;
  padding: 2px 8px;
  border-radius: 4px;
  color: #39FF14;
  font-family: monospace;
  border: 1px solid #39FF14;
}

.boxarea {
  position: relative;
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:50%;
}

.boxareacontainer {
  display: flex;
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 768px) {
   
 .messageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:2px solid #00ffff;
    border-radius: 6px;
    padding: 1em;
 }
 
 .menu {
    justify-content: right;
    align-items: center;
    flex-direction: column;
    display: flex;
    position:absolute;
    bottom: 0px;
    right: 2px;
    max-width: max-content;
    height: max-content;
  }
  .menu a {
    min-width: 10px;
    width: auto;
    margin: 10px;
  }
  body {
      margin: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
      background: #0b0c10;
      color: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
    .wrapper {
      text-align: center;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 0 25px rgba(0,0,0,0.7);
    }
    .login-input {
      background: #0b0c10;
      color: #00ffff;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid grey;
      border-radius: 5px;
      outline: none;
      white-space: prewrap;
      font-family: inherit;
      transition: all 0.3s ease;
    }
    .login-input:focus {
      border-color: #00ffff;
      box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
    }

    
    .bigpfp {
      border: 4px solid #00ffff;
    }
    .download-btn {
      display: inline-block;
      margin: 8px 0;
      padding: 10px 16px;
      background-color: #39FF14;
      color: #000;
      text-decoration: none;
      border-radius: 6px;
      border: 1px solid #24a80d;
      left: auto;
      font-weight: 600;
    }

    .download-btn.secondary {
      background-color: #ff4444;
      border-color: #aa0000;
      color: #fff;
    }

    .download-btn:hover {
      filter: brightness(0.8);
      transform: scale(1.05);
    }

    .links-block {
      display: flex;
      flex-direction:column;
      text-align: center;
      align-items: center;
      color: #00ffff;
      margin-top: 20px;
      margin-bottom: 50px
    }

    .links-block p {
      margin-bottom: 5px;
    }
    .logo {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 60px;
      height: 60px;
      border: 2px solid cyan;
      border-radius: 40px;
    }
    .boxoverlay {
      top:0;
      left:0;
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      height: 100%;
      width: 100%;
      z-index:1000;
      position:fixed;
      display:none;
    }
    .boxoverlay .box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .box {
      background: #0b0c10;
      width:90vw;
      height: 90vh;
      padding:20px;
      text-align:center;
      border:2px solid #00ffff;
      border-radius:12px;
      animation: fadeInScale 0.3s ease-out forwards;
      min-width: 0px;
    }

    .box1 {
      background: #0b0c10;
      width:300px;
      padding:20px;
      text-align:center;
      border:2px solid #00ffff;
      border-radius:12px;
      animation: fadeInScale1 0.3s ease-out forwards;
      min-width: 0px;
    }
    .closebtn {
      color: #ff4444;
      float: right;
      font-size:28px;
      font-weight:bold;
      cursor:pointer;
    }
    @keyframes fadeInScale1 {
      from {
        opacity: 0;
        transform: scale(0.8);
      }
          to {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes fadeInScale {
      from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
      }
          to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }

      .backbuttonc {
    z-index: 1001;
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  margin-top: 25px;
  z-index: 1001;
}

.back-button {
  display: inline-block;
  font-weight: 500;
  padding: 10px 20px; 
  text-decoration: none;
  border: 1px solid maroon;
  border-radius: 6px;
  background: red;
  color: #fff;
  transition: 0.2s;
}

.back-button:hover {
  filter: brightness(0.8);
  transform: scale(1.05);
}


.content {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}


.information-box {
  background: rgba(31, 40, 51, 0.5); 
  border: 1px solid #45a29e;        
  border-left: 5px solid #00ffff; 
  padding: 25px;
  border-radius: 8px;
  line-height: 1.8;                 
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.glow-cyan {
  color: #00ffff;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  font-weight: bold;
}

.code-highlight {
  background: #000;
  padding: 2px 8px;
  border-radius: 4px;
  color: #39FF14;
  font-family: monospace;
  border: 1px solid #39FF14;
}

.boxarea {
  position: relative;
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:50%;
}

.boxareacontainer {
  display: flex;
  height: 100%;
  width: 100%;
}

}